body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.texto-secundario {
    font-weight: 400;
    font-size: 16px;
    color: #002D62;
}

.texto-invertido {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.mensaje-exito {
    font-weight: 400;
    font-size: 16px;
    color: #4CAF50;
}

.mensaje-error {
    font-weight: 400;
    font-size: 16px;
    color: #E63946;
}